.ourcommunity {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  margin: 40px 30px;
}

.ourcommunity > h1 {
  color: hsl(179, 62%, 43%);
}

.ourcommunity > h3 {
  color: hsl(71, 73%, 54%);
}
.ourcommunity > p {
  color: grey;
}
